services/airship-ticketco-get-events/examples/Get Events.json
[{"id":"8fa1b29b.4fdf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69bd4421.7f2f8c","type":"inject","z":"8fa1b29b.4fdf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":210,"y":380,"wires":[["393c6530.3291aa"]]},{"id":"c7349171.8ee03","type":"debug","z":"8fa1b29b.4fdf","name":"Some sort of error handler","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"393c6530.3291aa","type":"airship-ticketco-get-events","z":"8fa1b29b.4fdf","token":"","days_ahead":"2","days_behind":"2","x":430,"y":380,"wires":[["3488bf95.cbe0c"]]},{"id":"3488bf95.cbe0c","type":"switch","z":"8fa1b29b.4fdf","name":"Was there an API error?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":380,"wires":[["c7349171.8ee03"],["83f7c31d.02472"]]},{"id":"83f7c31d.02472","type":"switch","z":"8fa1b29b.4fdf","name":"Are there any events?","property":"event_count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":420,"wires":[["758dfffe.7a024"],["88db180.dc9f1e8"]]},{"id":"88db180.dc9f1e8","type":"debug","z":"8fa1b29b.4fdf","name":"Terminate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":440,"wires":[]},{"id":"758dfffe.7a024","type":"debug","z":"8fa1b29b.4fdf","name":"Do something with your events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":380,"wires":[]},{"id":"4313567c.e33968","type":"comment","z":"8fa1b29b.4fdf","name":"Gets events from the ticketco events ","info":"","x":170,"y":220,"wires":[]},{"id":"d59bc1c6.354a7","type":"comment","z":"8fa1b29b.4fdf","name":"Supply the number of days before today you want to grab events for and the number of days after","info":"","x":370,"y":260,"wires":[]}]